// COLORS
$black: #222831;
$dark_grey: #393e46;
$orange: rgb(239, 124, 0);
$white: #eeeeee;
$light_gray: #d3d3d3;

// FONTS
$oswald_font_family: "Oswald", sans-serif;
$dm_sans_font_family: "DM Sans", sans-serif;
$oswald_bold: "Oswald", sans-serif;
//FONT SIZE
$title_size: 100%;
$paragraph_size: 100%;
